<div class="user" *ngIf="(user$ | async) as user">
  <mat-card>
    <mat-card-title>{{user?.name}}</mat-card-title>
    <mat-card-content>
      <p>Username: {{user?.username}}</p>
      <p>Email: {{user?.email}}</p>
      <p>Phone: {{user?.phone}}</p>
      <p>Website: {{user?.website}}</p>

      <div class="detail-section">
        <h4 class="detail-section__header">Address</h4>
        <p>Street: {{user?.address.street}}</p>
        <p>Suite: {{user?.address.suite}}</p>
        <p>City: {{user?.address.city}}</p>
        <p>Zipcode: {{user?.address.zipcode}}</p>
        <p>Geo: ({{user?.address.geo.lat}} ; {{user?.address.geo.lng}})</p>
      </div>

      <div class="detail-section">
        <h4 class="detail-section__header">Company</h4>
        <p>Name: {{user?.company.name}}</p>
        <p>Catch Phrase: {{user?.company.catchPhrase}}</p>
        <p>Bs: {{user?.company.bs}}</p>
      </div>
    </mat-card-content>
  </mat-card>

  <button class="bottom-toolbar"
          mat-raised-button
          color="accent"
          (click)="goBack()">
    Go Back
  </button>
</div>
